:root {
  --app-background: #282c34;
  --app-text-color: white;
  --app-link-color: #61dafb;
  --app-accent-color: #386766;
}

body {
  background-color: var(--app-background);
  color: var(--app-text-color);
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}


.a {
  color: var(--app-link-color);
}

.btn {
  background: none;
  color: var(--app-text-color);
  border: 0 solid;
  appearance: none;
  padding: 0.5rem;
  line-height: 1;
  font-size: 1rem;
  outline: none;
  display: inline-block;
  cursor: pointer;
}

.btn:hover {
  color: var(--app-link-color);
}
